@import 'variables';

.o-card {
    background: var(--card-bg-color);
    border: 1px solid var(--border-color);
    border-radius: $border-radius;
    padding: 18px;
    margin: 15px 0;
    box-shadow: var(--box-shadow);

    h3 {
        margin: 0;
    }
}
