@import 'variables';

.c-input-group {
    position: relative;

    &:hover {
        .c-label {
            color: var(--text-color);
        }

        .c-field {
            border-color: #000;
        }
    }
}
