<div (click)="setCurrentTab($event, entry)" [ngClass]="{ 'tab-item--active': currentTab?.id === entry.id, 'tab-item--darken': !isTab }" class="tab-item">
    <div class="o-grid">
        <div class="o-grid__col">
            <method-indicator *ngIf="entry.method" [isSmall]="true" [method]="entry.method"></method-indicator>
            <status-code-indicator
                *ngIf="!isEditable && entry.response.statusCode"
                [isSmall]="true"
                [statusCode]="entry.response.statusCode"
                [statusText]="entry.response.statusText"
            ></status-code-indicator>
            <payload-size-indicator *ngIf="!isEditable && entry.response.size" [isSmall]="true" [payloadSize]="entry.response.size"></payload-size-indicator>
            <time-taken-indicator *ngIf="!isEditable && entry.response.timeTaken" [isSmall]="true" [timeTaken]="entry.response.timeTaken"></time-taken-indicator>
        </div>
        <div (click)="editTab($event, entry)" *ngIf="isEditable" class="o-grid__col o-grid__col--fixed">
            <i class="fa fa-pen tab-item--edit"></i>
        </div>
        <div (click)="removeCurrentTab(entry)" *ngIf="isRemovable" class="o-grid__col o-grid__col--fixed">
            <i class="fa fa-times-circle tab-item--edit"></i>
        </div>
    </div>
    <div *ngIf="!isEditable && entry.response.occurredAt" class="tab-item__item__occurred-at">
        {{ entry.response.occurredAt | date: 'yyyy-MM-dd HH:mm:ss' : 'UTC' }} ({{ entry.response.occurredAt | timeago }})
    </div>
    <div *ngIf="isTab" class="tab-item__item__resource">
        {{ hasProperName(entry.name, entry.url) ? entry.name : getResource(entry.url) }}
    </div>
    <div *ngIf="!isTab" class="tab-item__item__resource">
        <span *ngIf="!entry.url">
            <span *ngIf="filterMatches">
                {{ entry.name | slice: 0 : filterIndex }}<span class="tab-item__item__resource--highlight">{{ entry.name | slice: filterIndex : filterIndex + filter.length }}</span
                >{{ entry.name | slice: filterIndex + filter.length : entry.name.length }}
            </span>
            <span *ngIf="!filterMatches">
                {{ entry.name }}
            </span>
        </span>
        <span *ngIf="entry.url">
            {{ getResource(entry.url) }}
        </span>
    </div>
    <div class="tab-item__item__host">{{ getHost(entry.url) }}</div>
</div>
