@import './variables';

.icon {
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-app-region: no-drag;

    img {
        height: calc($toolbar-height - 10px);
        margin: 5px;
    }

    h1 {
        margin: 0;
        font-size: 1.2rem;
        line-height: $toolbar-height;
    }

    &:hover {
        animation: rumble 200ms infinite;
        animation-timing-function: linear;
    }

    @keyframes rumble {
        0% {
            transform: rotate(-2deg);
        }
        25% {
            transform: rotate(-1deg);
        }
        50% {
            transform: rotate(0deg);
        }
        75% {
            transform: rotate(-1deg);
        }
        100% {
            transform: rotate(-2deg);
        }
    }
}
