$brand-primary: #45c58a;
$brand-secondary: #2f9b6c;
$brand-three: #1c5b47;
$brand-four: #102f2a;

$danger-color: #ef6b6b;
$success-color: #45c58a;
$warning-color: #f4b860;
$info-color: #65b8ee;

$post: #82d19a;
$get: #c390e7;
$patch: #f4d46f;
$put: #78bced;
$delete: #ef8585;
$options: #f4b860;
$head: #63d0d1;

$font-paragraph: 'Baloo 2', sans-serif;
$border-radius: 8px;
$toolbar-height: 48px;
$request-bar-height: 56px;
$request-pane-tabs-height: 42px;
$request-pane-footer-height: 44px;
$sidebar-width: 300px;

$mobile-width: 768px;
$tablet-width: 992px;
