$brand-primary: #1F7D53;
$brand-secondary: #255F38;
$brand-three: #27391C;
$brand-four: #18230F;

$danger-color: #e74c3c;
$success-color: #2ecc71;
$warning-color: #ff8930;
$info-color: #36a4ff;

$post: #81c784;
$get: #ba68c8;
$patch: #fff176;
$put: #64b5f6;
$delete: #e57373;
$options: #ffb74d;
$head: #4dd0e1;

$font-paragraph: 'Baloo 2', sans-serif;
$border-radius: 3px;
$toolbar-height: 40px;
$request-bar-height: 60px;
$request-pane-tabs-height: 45px;
$request-pane-footer-height: 45px;
$sidebar-width: 300px;

$step-xs: 0px;
$step-sm: 576px;
$step-md: 768px;
$step-lg: 992px;
$step-xl: 1200px;
$step-xxl: 1400px;
