@import 'fonts/baloo-2';
@import 'fonts/font-awesome';

@import 'variables';
@import 'mixins';

@import 'core/base';

@import 'utility/gutters';
@import 'utility/grid';
@import 'utility/container';
@import 'utility/rotation';

@import 'components/input-group';
@import 'components/input-label';
@import 'components/input-field';
@import 'components/buttons';
@import 'components/badges';
@import 'components/text';
@import 'components/cards';

.app-shell {
    min-width: 0;

    & > .o-grid__col:last-child {
        min-width: 0;
    }

    @media (max-width: $mobile-width) {
        & > .o-grid__col:first-child {
            flex: 0 0 auto;
        }

        & > .o-grid__col:last-child {
            flex: 1 1 0;
        }
    }
}
