@import './variables';
@import './mixins';

.request-bar {
    height: $request-bar-height;

    &__verb {
        width: 80px;
        padding: 0 5px;
        font-size: 15px;
        background-position:
            calc(100% - 10px) calc(1em + -5px),
            calc(100% - 5px) calc(1em + -5px),
            calc(100% - 2.5em) 0.5em;
        @include http-verbs;

        &:hover {
            background-position:
                calc(100% - 10px) calc(1em + -5px),
                calc(100% - 5px) calc(1em + -5px),
                calc(100% - 2.5em) 0.5em;
        }

        &:focus {
            background-position:
                calc(100% - 5px) 10px,
                calc(100% - 10px) 10px,
                calc(100% - 2.5em) 0.5em;
        }
    }

    &__url {
        &__container {
            position: relative;

            input {
                padding: 0 5px;
                font-size: 15px;
            }
        }
    }

    &__send__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__send {
        text-transform: uppercase;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        &--opened {
            border-bottom-left-radius: 0;
            border-bottom: 1px solid transparent;
        }
    }

    &__cancel {
        text-transform: uppercase;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &__label {
            display: block;
            font-weight: bold;
        }
    }

    &__chevron {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &--opened {
            border-bottom-right-radius: 0;
            border-bottom: 1px solid transparent;
        }
    }

    &__send-settings {
        position: absolute;
        z-index: 1;
        top: 33px;
        left: 7px;

        &__send {
            text-transform: uppercase;
            width: 100%;
            text-align: left;
            border-radius: 0;
            display: block;

            &:first-of-type {
                border-top-right-radius: $border-radius;
            }

            &:last-of-type {
                &:not(:first-of-type) {
                    border-top: transparent;
                    border-top-right-radius: 0;
                }

                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
            }
        }
    }

    &__editor {
        height: calc(100vh - #{$toolbar-height});
    }
}
