<div class="o-container headers-view" [ngClass]="{ 'headers-view--horizontal': !isVertical, 'headers-view--no-padding': removePadding }">
    <div *ngFor="let header of requestHeaders; let i = index">
        <headers-item
            [header]="header"
            [isEditable]="isEditable"
            [isLastHeader]="i === requestHeaders.length - 1"
            (headerChanged)="headerChanged(i, $event)"
            (headerRemoved)="headerRemoved($event)"
            (addHeader)="addHeader($event)"
        ></headers-item>
    </div>

    <div *ngIf="requestHeaders.length === 0" class="no-headers-text">No headers to show.</div>
</div>
