@import './variables';
@import './mixins';

.request-view {
    background: var(--body-background-color);

    &--half {
        height: calc(50vh - 50px);
    }
}

.splitter {
    width: 5px;
    cursor: col-resize;
    height: calc(100vh - #{$toolbar-height} - #{$request-bar-height});
    background-color: var(--card-bg-color);

    &--horizontal {
        height: 5px;
        width: 100%;
        cursor: row-resize;
    }

    &:hover {
        background-color: $brand-primary;
    }
}

.splitter-container {
    height: calc(100vh - #{$toolbar-height} - #{$request-bar-height});
}

.splitter-left,
.splitter-right {
    overflow: hidden;
}

@media (max-width: $mobile-width) {
    .request-view {
        overflow: hidden;
    }

    .splitter-container {
        flex-direction: column !important;
        height: calc(100vh - #{$toolbar-height} - 104px);
        min-height: 0;
    }

    .splitter-left,
    .splitter-right {
        width: 100% !important;
        height: calc(50% - 2.5px) !important;
        min-height: 0;
    }

    .splitter {
        flex: 0 0 5px;
        height: 5px !important;
        width: 100%;
    }
}
