name: Build
on:
  pull_request:

concurrency:
  group: build-${{ github.head_ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:

  build-fe:
    runs-on: self-hosted
    container:
      image: node:22
    steps:
      - uses: actions/checkout@v4

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn run build


  test-fe:
    runs-on: self-hosted
    container:
      image: node:22
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Test
        run: yarn test


  lint-fe:
    runs-on: self-hosted
    container:
      image: node:22
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn lint


  build-be:
    runs-on: self-hosted
    container:
      image: mcr.microsoft.com/dotnet/sdk:10.0.103
    steps:
      - uses: actions/checkout@v4

      - name: Restore
        run: dotnet restore api/grubster/Grubster.sln

      - name: Build
        run: dotnet build api/grubster/Grubster.sln --no-restore


  test-be:
    runs-on: self-hosted
    container:
      image: mcr.microsoft.com/dotnet/sdk:10.0.103
    steps:
      - uses: actions/checkout@v4

      - name: Restore
        run: dotnet restore api/grubster/Grubster.sln

      - name: Test
        run: dotnet test api/grubster/Grubster.sln --no-build


  docker-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t grubster . --platform linux/amd64
